<div class="row">
    <div class="col col-lg-12">
        <ul class="mineul">
            <li><a href="/dashboard">Admin Dashboard</a></li>
            <li><a href="/users/usercard">User Info Cards</a></li>
            <li><a href="/users/pendingdonations">Pending Donations</a></li>
            <li><a href="/users/pendingrequests">Pending Requests</a></li>
            <li><a href="/archives/donors">Archived Donors</a></li>
            <li><a href="/archives/recipients">Archived Recipients</a></li>
        </ul>
    </div>
</div>

