<div class="row">
    <div class="col col-lg-12">
        <ul class="mineul">
            <li><a href="/users/records">My Donations</a></li>
            <li><a href="/users/requests">My Requests</a></li>
            <li><a href="/users/donate">Donate Blood</a></li>
            <li><a href="/users/searchdonors">Search Donors</a></li>
        </ul>
    </div>
</div>