
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Donate <span><a style="color: red;" target="_blank" href="https://en.wikipedia.org/wiki/Blood_transfusion">Blood</a></span>  Save Lifes</h3>
        <p class="text-center">What questions do you have about blood donation process?</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div style="float: left; padding: 0px 5px 0px 0px;" class="rotate"><span class="subarrow mr-1"></span></div> Is it safe to donate blood?
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Yes, a detailed questionnaire that enables self-exclusion to address 
            your health and lifestyle. We test your HB (amount of blood),
             BP (pressure) to ensure you are fit to donate.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div style="float: left; padding: 0px 5px 0px 0px;" class="rotate"><span class="subarrow mr-1"></span></div> Who is eligible to donate blood?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            Anyone who is between 16 and  65 years old. You should also weigth above 50 kgs, practise a safe sexual lifestyle
            and most importantly a non drug and substance abuser.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div style="float: left; padding: 0px 5px 0px 0px;" class="rotate"><span class="subarrow mr-1"></span></div> Where can a person donate blood?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            To donate blood one can visit any of our nationwide centers where you will be received with warm hands
            our staff will walk you through the procedure and ask you if you wish to proceed.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <div style="float: left; padding: 0px 5px 0px 0px;" class="rotate"><span class="subarrow mr-1"></span></div> How much blood can I donate , how long till I replenish?
              </button>
            </h5>
          </div>
      
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                    You can donate up to 1 pint of blood.
                1 pint equals 450 millilitres.
                Fluid part (plasma) is replaced within 24 hrs, while the cells part is replaced within two weeks.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div style="float: left; padding: 0px 5px 0px 0px;" class="rotate"><span class="subarrow mr-1"></span></div> After how long can I donate blood again?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                After every 3 months for males and after 4 months for females
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <div style="float: left; padding: 0px 5px 0px 0px;" class="rotate"><span class="subarrow mr-1"></span></div> Where do I get my results?
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
               You can get your results in the nearest office where you donated blood.
               The result is well kept for your eyes only.
            </div>
          </div>
        </div>
      </div>
</div>
</div>
<%- include ('partials/footer') %>