 
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card card-body text-center">
                <h1><a href="/"><i class="fas fa-hospital-symbol fa-3x" style="color: red;"></i></a></h1>
                <h3 class="text-center">Donate <span><a style="color: red;" target="_blank" href="https://en.wikipedia.org/wiki/Blood_transfusion">Blood</a></span>  Save Lifes</h3>
                <p><strong class="text-danger">Don't Have An Account ?</strong></p>
        <a href="/users/register" class="btn btn-warning btn-block mb-2"
          >Sign Up Today</a>
        <a href="/users/login" class="btn btn-danger btn-block ">Login</a>
        <div class="col-md-8 m-auto">
            <div class="card card-body mt-5">
                <p>This Project Is Presented By:</p>
                <h5>MICHAEL KIJANA OMONDI</h5>
                <p>To:</p>
                <h5>Multimedia University Of Kenya</h5>
                <p>As part of the requirements to completion of a degree in:</p>
                <h5>Bachelors Of Science (Information Technology)</h5>
            </div>
        </div> 
            </div> 
             
        </div>
        
    </div>


    
