<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css">
    <title>Online Blood Bank</title>
    <script src="https://kit.fontawesome.com/03b6000877.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="navb col-md-12">
        <div style="float: left;">
          <a href="/"><img src="../public/images/cartoon-blood-drip-png-8.png" alt="logo" height="50" width="50"></a>
      </div>
      <ul>
          <li><a href="/">Home</a></li>
          <% if(user) {%> 
            <li><a href="/users/userdashboard">Dashboard</a></li>
            <li><a href="/users/records">Records</a></li>
          <li><a href="/dashboard">Admin</a></li>
          <li><a href="/users/logout">Logout</a></li>
          <% } else {%> 
          <li><a href="/users/register">Register</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/faq">FAQs</a></li>
          <%  } %> 
      </ul>
      </div> 
    </div>
      <%- body %>
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
crossorigin="anonymous">
</script>
<script src="../public/js/main.js" type="text/javascript"></script>
</body>
</html>